/* @import "themes/catppuccin-mocha.css"; */
@import "themes/matugen.css";

* {
  font-family: "JetBrains Mono NL";
  font-size: 18px;
  border-radius: 0px;
  border: none;
}

window#waybar {
  background: rgba(0, 0, 0, 0.5);
}

#workspaces button {
  color: @on_surface;
  /* padding: 0px 5px 0px 5px; */
  padding: 0em 0.5em 0em 0.5em;
}

#workspaces button.active {
  color: @inverse_on_surface;
  background: @on_primary_container;
}

button:hover {
  background: inherit;
}

#workspaces button.urgent {
  background-color: #ff5c4d;
}

tooltip {
  /*background: @background;*/
  background: @background;
}

tooltip label {
  /*color: @color7;*/
  color: @tertiary_fixed;
  font-size: 14px;
}

#clock,
#battery,
#memory,
#temperature,
#network,
#wireplumber,
#tray,
#mode,
#backlight,
#custom-update {
  color: @tertiary_fixed;
  padding: 0em 0.25em 0em 0.25em;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
