/* @import "themes/catppuccin-mocha.css"; */
@import "themes/material_theme.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 18px;
  border-radius: 0px;
  border: none;
}

window#waybar {
  background: rgba(0, 0, 0, 0.5);
}

#workspaces button {
  color: @foreground;
  /* padding: 0px 5px 0px 5px; */
  padding: 0em 0.5em 0em 0.5em;
}

#workspaces button.active {
  color: @background;
  background: @foreground;
}

button:hover {
  background: inherit;
}

#workspaces button.urgent {
  background-color: @color2;
}

tooltip {
  /*background: @background;*/
  background: @background;
}

tooltip label {
  /*color: @color7;*/
  color: @foreground;
  font-size: 14px;
}

#clock,
#battery,
#memory,
#temperature,
#network,
#wireplumber,
#tray,
#mode,
#backlight,
#custom-update {
  color: @color1;
  padding: 0em 0.25em 0em 0.25em;
}

@keyframes blink {
  to {
    background-color: @background;
    color: @foreground;
  }
}

#battery.critical:not(.charging) {
  background-color: @color2;
  color: @foreground;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
