/* @import "themes/catppuccin-mocha.css"; */
@import "themes/material_theme.css";
/*@import "themes/wal_waybar.css";*/

* {
  font-family: "VictorMono Nerd Font Propo";
  border-radius: 0px;
  font-size: 18px;
  min-height: 10px;
  font-weight: bold;
}

window#waybar {
  background: alpha(@background, 0.5);
  padding: 1px;
}

#workspaces button {
  color: @foreground;
}

#workspaces button.visible {
  background: alpha(@color4, 0.6);
  color: @color1;
}

button:hover {
  background: inherit;
}

#workspaces button.urgent {
  background-color: @color2;
  color: @color3;
}

tooltip {
  background: alpha(@background, 0.9);
  border: 1px solid @color0;
}

tooltip label {
  color: @foreground;
  font-size: 14px;
}

#clock,
#battery,
#memory,
#temperature,
#network,
#wireplumber,
#tray,
#mode,
#backlight,
#custom-update {
  color: @foreground;
  padding: 0.3em;
}

@keyframes blink {
  to {
    background-color: @background;
    color: @foreground;
  }
}

#battery.critical:not(.charging) {
  background-color: @color2;
  color: @foreground;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
