/*@import url("/home/stoney/.config/hypr/wofi/themes/catppuccin-mocha.css");*/
@import url("/home/stoney/.config/hypr/wofi/themes/material_theme.css");

* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 100%;
  border-radius: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
  border: none;
}

window {
  background-color: rgba(50, 50, 50, 0.8);
  color: white;
}

#input {
  padding: 8px 12px;
}

#entry {
  padding: 6px;
}

#entry:selected {
  background: linear-gradient(90deg, @foreground, @color1);
}

#img {
  padding-right: 10px;
}

#text {
  color: @foreground;
}

#text:selected {
  color: @background;
}

#entry {
  padding: 6px;
}
